.btn {
    background: none;
    outline: none;
    border: none;
 
}

.btn:hover {
    outline: none;
    border: none;
    color: red;
}

.btn a {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #222222;
    position: relative;
    z-index: 4;
    text-transform: uppercase;
    animation: mymove2 2s;
}

.btn a::before {
    content: " ";
    position: absolute;
    top: 12px;
    left: 0;
    width: 5.5rem;
    height: 5px;
    background-color: #f0c2ba;
    z-index: -1;
}

.outside h4 {
    display: none;
    position: relative;
    animation: mymove2 2s;
}

@keyframes mymove2 {
    0% {
        left: -100rem;
    }

    100% {
        left: 0rem;
    }
}


@media screen and (min-width: 700px) {



    .outside h4 {
        position: absolute;
        display: block;
        transform: rotateZ(-90deg);
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        left: 1rem;
        margin-top: 3rem;
    }

    .outside.hide h4 {
        display: none;
    }

    .outside h4::after {

        content: "4";
        position: absolute;
        top: -10px;
        left: -4rem;
        width: 0.1rem;
        height: 3rem;
        background-color: #bdbdbd;
        transform: rotateZ(-90deg);
        color: var(--mild)
    }
}

@media screen and (min-width: 1280px) {



    .outside h4 {
        position: absolute;
        display: block;
        transform: rotateZ(-90deg);
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        left: 4rem;
        margin-top: 3rem;
    }

    .outside.hide h4 {
        display: block;
    }

}

@keyframes mymove3 {
    0% {
        left: 0rem;
        bo: -100rem;
    }

    100% {
        left: 0rem;
    }
}